# API
Flask~=3.0.3
flask-cors~=5.0.0

# Parsing Methods and Dependencies/Helpers
pdfplumber~=0.11.5
pytesseract~=0.3.13
pdf2image~=1.17.0
pypdfium2~=4.30.1
chardet~=5.2.0

# OpenAI GPT
langchain-openai~=0.3.2
langchain~=0.2.17
python-dotenv~=1.0.1

# Ollama
ollama~=0.4.2

# Testing
pytest~=8.3.4